
$primary-color:  #46A8F6; // bar chart, icon. 
$secondary-color:  #9BA6BF; // barcharts. 
$third-color: #A9B7CA;  // description

$header-color: #2D3B4E;  // primary headers (overview, chart header. 

// Used Sales / Overview
$active-color: #2D3B4E;  // active icons
$nonactive-color: #9BA6BF; // non active icons

$background-color: #ddd;


